# Dependencies
node_modules

# Testing
coverage
*.test.ts
*.spec.ts
vitest.config.ts
vitest.d.ts

# Development
local.db
local.db-journal

# Build outputs
api
dist
.turbo

# Environment files
.env
.env*.local

# IDE
.vscode
.idea

# Documentation
*.md
docs

